:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --bg-color: #ecf0f1;
  --white: #ffffff;
  --text-color: #000000;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Sogoe UI", Tahoma, Geneva, Verdana, Tahoma, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* position: fixed;
  width: 100%; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-weight: 600;
  font-size: 35px;
  color: var(--primary-color);
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.hero {
  background: linear-gradient(
      135deg,
      rgba(75, 123, 236, 0.5),
      rgba(67, 206, 162, 0.7)
    ),
    url("https://cdn.pixabay.com/photo/2020/01/21/07/48/eye-4782246_1280.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.hero-content a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: var(--white);
}

.btn {
  background-color: var(--accent-color);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
}
.btn:hover {
  background-color: #9d0c0c;
  cursor: pointer;
}

.about {
  padding: 100px 20px;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-text {
  flex: 1;
}
.about-image {
  flex: 1;
}
.about-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.portfolio {
  padding: 100px 0;
  background-color: #f8f9fa;
}
.portfolio h2 {
  text-align: center;
  margin-bottom: 60px;
  color: var(--primary-color);
  font-size: 35px;
}
.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-item {
  margin-bottom: 40px;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-basis: calc(33.333% - 30px);
}
.portfolio-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.portfolio-item-content {
  padding: 20px;
}
.portfolio-item-content h3 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 20px;
}
.portfolio-item-content p {
  color: #666;
  margin-bottom: 15px;
}
.categories {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.category {
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 12px;
  font-weight: 600px;
  border-radius: 15px;
  padding: 5px 12px;
}

.cta {
  background: linear-gradient(
    135deg,
    var(--secondary-color),
    var(--primary-color)
  );
  padding: 100px 0;
  display: flex;
  text-align: center;
  color: var(--white);
}
.cta h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.cta p {
  margin-bottom: 20px;
}

.contact {
  padding: 100px 0;
  background-color: var(--white);
}

.contact h2 {
  text-align: center;
  margin-bottom: 60px;
  color: var(--primary-color);
  font-size: 36px;
}
form {
  max-width: 600px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 20px;
}
label {
  margin-bottom: 5px;
  color: var(--text-color);
  font-weight: 500;
}
input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
}
textarea {
  height: 150px;
}

footer {
  background-color: var(--text-color);
  color: var(--white);
  display: flex;
  justify-content: center;
}
